.body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footermenu {
    background-color: #295560;
    position: sticky;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    bottom: 0%;
    text-align: center;
}

    .footermenu a {
        text-align: center; /* Center-align text */
        width: 100%; /* Equal width (5 icons with 20% width each = 100%) */
        padding: 12px 0; /* Some top and bottom padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        font-size: 30px; /* Increased font size */
    }

.headermenu {
    background-color: #73B6C7;
}

    .headermenu a {
        text-align: center; /* Center-align text */
        width: 100%; /* Equal width (5 icons with 20% width each = 100%) */
        padding: 12px 0; /* Some top and bottom padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /*text color */
        font-size: 20px; /* Increased font size */
    }

        .headermenu a:hover {
            background-color: lightcoral; /* Add a hover color */
            color: #183d61; /*text color */
        }

.active {
    background-color: #F7EEDD; /* Add an active/current color */
}

    .active i {
        color: #77b4f0;
    }

.kitties-body {
    overflow: hidden;
}

    .kitties-body img {
        width: 70%;
        min-height: 70%;
        transition: all 0.3s ease; /* Add transition for hover effects */
        border-radius: 50%;
    }

        .kitties-body img:hover {
            opacity: 0.5;
        }

.headermenu__search {
    background: white;
    margin:4px;
    float: left;
}
    .headermenu__search input {
        background: none;
        width: 90%;
        height: 100%;
        border: none;
        font-size:20px;
    }
    .headermenu__search button {
        background: none;
        border: none;
        float: right;
        text-align: center;
        height: 100%;
        width: 8%;
        transition: all 0.3s ease;
    }
        .headermenu__search button:hover {
            background-color: lightcoral;
            color: #183d61; /*text color */
        }

    .headermenu__search i {
        font-size: 20px;
        color: #77b4f0;
    }
